@import "bootstrap/bootstrap";
@import "font-awesome";

body {
  padding-top: 80px;
  background: url("../images/subtle_stripes.png");
}

a {
  @include transition(all .1s ease);
}

.required {
  color: #c00;
  margin-right: 5px;
}

.navbar-inner {
  height: 50px;
}

.navbar h1 {
  margin: 0;
  padding: 0;
  font-size: 1em;
  line-height: inherit;
  .brand {
    padding: 15px 20px;
  }
}

.navbar .nav > li > a {
  padding: 15px;
}

.nav.nav-pills.project-switch {
  li {
    margin-right: 5px;
  }
  li a {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.hero-unit {
  background: #f8f5f5;
  background: rgba(248, 245, 245, 0.8);
  border: #d4d3d3 1px solid;
}

.resources-sidebar {
  ul {
    margin-left: 0;
  }
  li {
    i {
      float: right;
      padding: 5px 0;
    }
  }
}

.content-header[class*="span"], .resources[class*="span"] {
  float: right;
}

.projects {
  margin-bottom: 30px;
}

.main-form {
  margin: 30px 0;
  background: #eee;
  border: 16px #f9f9f9 solid;
  box-shadow: #d4d4d4 0 3px 3px;
  padding: 40px 20px 20px;
  .form-actions {
    background: transparent;
  }
}

.project-list {
  margin: 0;
  padding: 20px;
  list-style: none;
  background: #eee;
  border: 16px #f9f9f9 solid;
  box-shadow: #d4d4d4 0 3px 3px;
  li {
    //border: #eee 1px solid;
    //background: #fff;
    position: relative;
    padding: 30px 15px 30px 245px;
    min-height: 200px;
    margin-bottom: 0px;
    border-top: 1px solid #e5e5e5;
    &:first-child {
      border-top: none;
    }
    h3 {
      margin-top: 0;
    }
    .screenshot {
      position: absolute;
      width: 200px;
      height: 200px;
      border: #eee 1px solid;
      left: 15px;
      top: 30px;
    }
    .screenshot img {
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
    .description {
      margin-bottom: 30px;
    }
    .btn i {
      margin-right: 5px;
    }
    .btn {
      margin-left: 5px;
    }
  }
}

section {
  padding-top: 30px;
}

.resource-list {
  list-style: none;
  margin: 0 0 30px;
  padding: 0;
  li {
    padding: 15px;
    background: #f8f5f5;
    background: rgba(248, 245, 245, 0.8);
    border: #d4d3d3 1px solid;
    position: relative;
    border-radius: 5px;
    margin-bottom: 5px;
    &.highlight {
      background: #fcf8e3;
      background: rgba(252,248,227,0.8);
      border: #fbeed5 1px solid;
    }
    h4 {
      margin-top: 0;
    }
    .collapse-switch {
      position: absolute;
      top: 13px;
      right: 15px;
      padding-left: 10px;
      padding-right: 10px;
    }
    .more-block {
      margin-top: 15px;
    }
  }
}

.nav-tabs {
  background: #f8f5f5;
  background: rgba(248, 245, 245, 0.8);
}

.btn {
  background: #f8f8f8;
  border: none;
  border-bottom: rgb(204, 204, 204) 1px solid;
  filter: none;
  box-shadow: #aaa 0 0 1px inset;
  &:hover {
    background: #fff;
  }
  &.btn-primary {
    background: rgb(107, 0, 0);
    &:hover {
      background: lighten(rgb(107, 0, 0), 5);
    }
  }
}

@media (max-width: 767px) {
  .project-list {
    li {
      padding: 15px 15px 15px 180px;
      min-height: 150px;
      .screenshot {
        width: 150px;
        height: 150px;
      }
    }
  }
  .resources-sidebar {
    ul {
      position: relative;
    }
  }
}

@media (max-width: 479px) {
  .project-list {
    li {
      padding: 15px;
      min-height: none;
      .screenshot {
        display: none;
      }
    }
  }
}


@import "bootstrap/responsive";