<div class="hero-unit">
    介紹文案
</div>
<h2>萌典專案成果</h2>
<ul class="nav nav-pills project-switch">
  <li class="active" data-type="webs"><a href="#">網站</a></li>
  <li data-type="apps"><a href="#">APP</a></li>
</ul>
<div class="projects" data-type="webs">
  <ul class="project-list">
    <% 5.times do %>
    <li class="clearfix">
      <div class="screenshot">
        <img src="http://placehold.it/200x200" alt="假圖" />
      </div>
      <h3>網站名稱</h3>
      <div class="description">
        <%= zh_lorem_paragraph %>
      </div>
      <div class="pull-right">
        <a class="btn btn-primary" href="#"><i class="icon-external-link"></i>去看看</a>
        <a class="btn" href="#"><i class="icon-github-alt"></i>Github</a>
      </div>
      
    </li>
    <% end %>
  </ul>
</div>
<div class="projects" data-type="apps">
  <ul class="project-list">
    <% 5.times do %>
    <li class="clearfix">
      <div class="screenshot">
        <img src="http://placehold.it/200x200" alt="假圖" />
      </div>
      <h3>APP 名稱</h3>
      <div class="description">
        <%= zh_lorem_paragraph %>
      </div>
      <div class="pull-right">
        <a class="btn btn-primary" href="#"><i class="icon-external-link"></i>去看看</a>
        <a class="btn" href="#"><i class="icon-github-alt"></i>Github</a>
      </div>
    </li>
    <% end %>
  </ul>
</div>
<% content_for :js do %>
<script>
$(function(){
  $(".projects").hide();
  $(".projects[data-type=webs]").show();
  $(".project-switch li a").on("click", function(e) {
    e.preventDefault();
    var target = $(this).parent().data("type");
    $(this).parents(".project-switch").find("li").removeClass("active");
    $(".projects").fadeOut("fast");
    $(this).parent().addClass("active");
    $(".projects[data-type="+target+"]").fadeIn("fast");
  });
});
</script>
<% end %>